@media screen and (max-width:600px) {

    .navbar,
    .navbar-menu ul {
        display: flex;
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 3rem;
    }

    .section1 h1,
    .section2 h1,
    .section3 h1,
    .section4 h1,
    .section5 h1,
    .section6 h1 {
        font-size: 4rem;
        padding: 60px 80px;
    }

    .section1 .title,
    .section2 .title,
    .section3 .title,
    .section4 .title,
    .section5 .title,
    .section6 .title {
        font-size: 1rem;
        padding-top: 90px;
    }

}

@media screen and (min-width:601px) and (max-width:768px) {}

@media screen and (min-width:769px) and (max-width:992px) {}

@media screen and (min-width:993px) and (max-width:1200px) {}

@media screen and (min-width:1201) {}